.header {
  align-items: baseline;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 24px 0;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    .option {
      padding: 24px 16px;
      cursor: pointer;
    }
  }
}
